doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width,initial-scale=1')

		title CSCW 2018

		meta(name='description' content='CSCW - 2018')
		meta(name='keywords' content='CSCW')
		
		meta(property="og:url" content="https://cscw.acm.org/2018/")
		meta(property="og:type" content="website")
		meta(property="og:site_name" content="CSCW - 2018")
		meta(property="og:title" content="CSCW - 2018")
		meta(property="og:description" content="Future home of CSCW 2018.")
		meta(property="og:image" content="")
		meta(property="og:locale" content="en_US")

		//- link(rel='apple-touch-icon shortcut icon image_src' href='./assets/favicon.ico')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700', rel='stylesheet')

		script(src='//code.jquery.com/jquery-2.1.4.min.js')
		script(src='./main.js')

	body

	.section#header
		.left
			h1 CSCW 2018
		.right
			h3 Oct/Nov 2018, Location TBD

	.section#brief
		.left
			h2 News in Brief
			each n in briefs.news
				p= n
		.right
			p!= briefs.brief
			a(href='#updates')
				.btn
					span Sign up for mailing list
					span.fa.fa-angle-double-down

	.section#faq
		h2 FAQs
		ul
			each f in faqs
				li
					.q
						span.fa.fa-caret-right
						h4= f.q
					.a
						p!= f.a

	.section#updates
		.left.l-title
			h2 Get Updates
		.left.r-content
			p Want more information? Please sign up for our mailing list!
			#mailchimp
				// Begin MailChimp Signup Form
				#mc_embed_signup
					form#mc-embedded-subscribe-form.validate(action='//cornell.us3.list-manage.com/subscribe/post?u=9ff7319a6ef1ae54ed30d9609&id=d724c21974', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
						#mc_embed_signup_scroll
							.mc-field-group
								input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
							// real people should not fill this in and expect good things - do not remove this or risk form bot signups
							div(style='position: absolute; left: -5000px;', aria-hidden='true')
								input(type='text', name='b_9ff7319a6ef1ae54ed30d9609_d724c21974', tabindex='-1', value='')
							.clear
								input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
							#mce-responses.clear
								#mce-error-response.response(style='display:none')
								#mce-success-response.response(style='display:none')
				script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
				script(type='text/javascript').
					(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
				// End mc_embed_signup

	.section#organizers
		.left.l-title
			h2 Organizers
		.left.r-content
			each o in organizers
				p!= o.title

	.section#copyright
		p
			a(href='mailto: web2018@cscw.acm.org') web2018@cscw.acm.org
		p CSCW 2018 | Copyright © 2016